pyspark==3.5.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
pypdf==4.2.0
langchain==0.2.3
langchain-community==0.2.3
langchain-core==0.2.5
sentence-transformers==2.7.0
chromadb==0.5.3
requests==2.32.3
